/* Background Color */
body {
	background-color: #ccc;
}

/* Divider Lines */
ul.separator {
	list-style: none;
	padding: 0;
	width: 100%;
}

ul.separator li {
	padding: 2.25em 0;
	border-bottom: 2px solid rgb(0, 0, 0);
}
